<html>
  <body class='site-background'>
    <div class='container text-center col-md-8 panel'>
      
      <div class='row'>
        <div class='col-md-12'>
          <div class="alert alert-success rounded" role="alert">
            <h4 class="alert-heading text-left">Parabéns!</h4>
            <p class='text-left'>Você se cadastrou com sucesso no sistema Propes, quando você for para as avaliações seu usuário já está registrado, isso deixa o processo mais rápido e prático</p>

          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
