#Ignorar todos os arquivos da pasta tmp
tmp/

#Ignorar todos logs de erro do npm
npm-debug.log.*

#Ignorar mudanças na database utilizada para evitar conflitos no desenvolvimento
database.yml

#Ignorar todos os arquivos da pasta tmp
log/

#
log/development.log