<html >
    <head>
        <%= javascript_include_tag 'yo_yo', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <div class='container text-center col-md-8 panel'>
            
            <div class='row'>
                <h1 class='col-md-12' style='color: #70C4FF;'>
                    Formulário Yo-Yo
                </h1>
            </div>

            <div class='row justify-content-md-center'>
              <div class="col-md-11" >
                <% athlete = Athlete.find(session[:athlete_id]) %>
                <%= form_with model: @yo_yo, local: true do |f| %>
                  <% for field in @yo_yo.attributes %>
                      <% if not ['id','created_at', 'updated_at', 'user_id','athlete_id',"result","qualitative_result"].include? field[0] %>
                        <p class='text-left'>
                            <%= f.label field[0] %>
                            <%= f.text_field field[0], class: 'form-control'%>
                        </p>
                      <% end %>
                  <% end %>
                  
                  <p><input type="submit" name="commit" value="Salvar" class="btn salvar" data-disable-with="Salvar"></p>
                <% end %>
              </div>
            </div>
        </div>
    </body>
</html>