<html >
    <body>
        <div class='container text-center col-md-7 panel'>
            
            <div class='row'>
                <h1 class='col-md-12' style='color: #70C4FF;'>
                    Formulário Dinamometria
                </h1>
            </div>

             <% if @dynometry.errors.any? %>
                 <ul class='alert alert-danger'>
                    <% @dynometry.errors.full_messages.each do |message| %>
                      <li ><%= message %></li>
                    <% end %>                     
                 </ul>
             <% end %>
            
            <div class='row justify-content-md-center'>
              <div class="col-md-11" >
                <%= form_with model: @dynometries, local: true do |f| %>
                    <table class="table table-sm text-center"> 
                            <tr>
                                <td colspan="2" rowspan="2"> </td>
                                <th colspan="3"> Extensão </th>
                                <th colspan="3"> Flexão </th>
                            </tr>

                            <tr>
                                <% for i in 0..1 %>
                                    <td> D </td>
                                    <td> E </td>
                                    <td> Deficit </td>
                                <% end %>
                            </tr>

                            <tr>
                                <td> Pico de Torque </td>
                                <td> 60° </td>

                                <% for i in [@dynometry.peak_extension_right, @dynometry.peak_extension_left, @dynometry.peak_extension_deficit,
                                             @dynometry.peak_flexion_right, @dynometry.peak_flexion_left, @dynometry.peak_flexion_deficit]%>
                                    <td> <input style="width: 50px;"> </td>
                                <% end%>
                            </tr>

                            <tr>
                                <td rowspan="2"> Potência </td>
                                <td> 180° </td>

                                <% for i in [@dynometry.power_extension_right_180, @dynometry.power_extension_left_180, @dynometry.power_extension_deficit_180,
                                             @dynometry.power_flexion_right_180, @dynometry.power_flexion_left_180, @dynometry.power_flexion_deficit_180]%>
                                    <td> <input style="width: 50px;"> </td>
                                <% end%>
                            </tr>



                    <table>
                  <p><%= f.submit 'Salvar', class: 'btn salvar' %></p>
                <% end %>
              </div>
            </div>
        </div>
    </body>
</html>