<header>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <% if logged_in? %>
            <ul >
               <li style="float:left; margin-left: 30px;"><%= link_to "Todos os usuários", users_path %></li>
               <li style="float:left; margin-left: 30px;"> <%= link_to "Meu Perfil", current_user %> </li>
               <li style="float:left; margin-left: 30px;"> <%= link_to "Sair", sign_out_path, method: "delete" %> </li>
            </ul>
            
            <% else %>
            <ul>
                <li> <%= link_to "Login", sign_in_path %> </li>
            </ul>
            <% end %>
        </nav>
    </div>
</header>
