<html>
  <body>
    <div class='container'>
      <div class='row'>
          <header>
              <%= image_tag('logo.png') %> 
              <h1 class= "titulo"> Cadastro </h1>
          </header>
      </div>
      
      <div class='row'>
        <div class='col-md-3'>
          <%= link_to 'Avaliador', '/appraisers/new' , method: :get, :class => 'btn btn-primary' %>
        </div>
        
        <div class='col-md-3'>
          <%= link_to 'Atleta', '/athletes/new' , method: :get, :class => 'btn btn-danger' %>
        </div>
      </div>
      
      
      
    </div>
  </body>
</html>
