<!-- Page intended to be the user main page -->
<html>
    <body>
        <div class='container'>
            <div class='perfil'>
                <h1 class='center'> Seu Perfil </h1>
                <%for attribute in @user.attributes %>
                    <% if not ['id', 'created_at', 'updated_at', 'password_digest'].include? attribute[0] %>
                        <p><strong> <%= attribute[0] %> : </strong> <%= attribute[1] %> </p>
                    <% end %>
                <% end %>
                <p><%= link_to 'Editar', edit_user_path ,  :class => 'link' %></p>
            </div>
        </div>
    </body>
</html> 