/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';


.salvar {
  background-color: #70C4FF; 
  color: white;
  margin-top: 2%;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #3D81B3;
}

.panel {
    background-color: white; 
    margin-top: 2%; 
    border-radius: 30px 30px 30px 30px; 
    border: solid; 
    border-color: white;
}

.confirmar_senha {
    background-color: #FF1512;
}

.tamanho-form {
    width: 50%;
    margin-bottom: 5px;
}

.navbarStyle {
    background-color: #001D5D;

}

.navbar-light .navbar-nav .nav-link {
    color: #FCFCFC;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FF0018;
}

.navbar-light .navbar-nav .nav-link:active {
    color: #90181B;
}
