<% content_for :form_title do %> Cooper <% end %>

<% content_for :form_fields do %>
    <%= form_with model: @cooper, local: true do |f| %>
        <p class="text-left">
             <%= f.label t :distance %>
             <input class="form-control" name="cooper[distance]"  id="distance" />
        </p> 

        <p><%= f.submit 'Salvar', class: 'btn salvar' %></p>
    <% end %>
<% end %>

<%= render '/layouts/evaluation' %>