<div class='row justify-content-center'>
    
    <table class='table table-sm col-md-8 text-center'>
        <tbody>
            <% athlete_evaluations.each do |e| %>
            <tr>
                <td><%= link_to t(e[0..-5]), '/' + e , method: :get, class: 'btn col-md-12 font-weight-bold text-left' %></td>
                <td><%= check_box_tag 'evaluation' + athlete_evaluations.index(e).to_s, e.to_s  %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <input class='btn col-md-12 font-weight-bold text-left' type='submit' id="do_evaluations" method="post" >
</div>