<div class='container text-center col-md-7 panel'>
	<div class='row'>
		<h1 class='col-md-12' style='color: #70C4FF;'>
			Formulário <%= yield :form_title%>
		</h1>
	</div>

	<div class='row justify-content-md-center'>
		<div class="col-md-11">      
            <%= yield  :form_fields %>	
		</div>
	</div>
</div>